<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Attendance_C__XML_Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Attendance_C__XML_Project.Properties.Settings>
            <setting name="SelectedColor" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedFontSize" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedDateFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedTheme" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedLanguage" serializeAs="String">
                <value />
            </setting>
        </Attendance_C__XML_Project.Properties.Settings>
    </userSettings>
</configuration>